@page "/notes"
@inject IWordService WordService;
@inject INotesService NoteService

<PageTitle>Notes</PageTitle>

<link rel="stylesheet" href="~/css/app.css"/>
<div class="bd-main-interface">
    <div class="interface-header container-fluid text-end bg-light-gray">
        <div class="display-6 fw-semibold me-4">Notes</div>
    </div>
    <div class="pt-4">
        <div class="container-fluid d-flex mb-4" id="toolbar">
            <div class="btn-toolbar" role="toolbar" aria-label="SearchBar" >
                <div class="input-group">
                        <input type="text" class="form-control rounded-pill" placeholder="Search" aria-label="Searchbar"  style="width: 20em;">
                </div>
            </div>
        </div>
        <div class="container-fluid row flex-row d-flex pt-3">
            <div class="col list-group list-group-flush" style="overflow-y: scroll; height: 48rem;">
                <!--Note Subjects Here-->
                @{
                    for(int i = 0; i < NoteService.noteModels.Length; i++)
                    {
                        var note = NoteService.noteModels[i];
                        var title = note.Title;
                        var subtitle = note.Subtitle;

                        <button class="list-group-item text-start p-2 search-entry" @onclick="() => NoteService.SetAsCurrentViewing(note)">
                            <div class="data-time fs-6 text-muted">Created On: @DateTime.Now.Date.ToLongDateString()</div>
                            <h3 class="fs-3 fw-semibold pt-2">@title</h3>
                            <h4 class="fs-4 text-truncate text-muted">@subtitle</h4>
                            <!--Note Tags-->
                            @{
                                for(int j = 0; j < note.Tags.Length; j++)
                                {
                                    var tag = note.Tags[j];
                                    <div class="badge rounded-pill bg-gray ms-1 me-1">@tag</div>
                                }
                            }
                        </button>
                    }
                }
            </div>
            <div class="col-md-8" style="display: flex; overflow-y: hidden; height: 48rem;">
                <div class="container-lg" Model="@NoteService.currentViewingNote?">
                    <h2 class="fs-2 fw-semibold">@NoteService.currentViewingNote?.Title</h2>
                    <h5 class="text-muted">@NoteService.currentViewingNote?.Subtitle</h5>
                    <textarea type="text" class="text-muted fs-5 pt-3 container-fluid" placeholder="Type in Note Contents" id="note-contents" style="border: hidden; resize: none;  height: 42rem; overflow: inherit; outline: none;" @bind="NoteService.currentViewingNote.Content"/>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        MainLayout.ChangeHeaderName("Notes");
    }
}